@model HomeStay_MVC.Models.AvatarModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Cập nhật ảnh đại diện";
}
<h2 class="text-center mt-4">Cập nhật ảnh đại diện</h2>

<div div style="margin-left:50px; margin-top: 50px;">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            
            <img id="previewImage"
                 src="@Url.Content($"~/uploads/AvatarUser/{Model.Avatar_name}")"
                 alt="Avatar"
                 width="400"
                 style="border: 1px solid #ccc; padding: 5px;" />

        </div>

        <div class="mb-3">
            <label for="avatarFile">Chọn một ảnh để tải lên:</label>
            <input type="file"
                   id="avatarFile"
                   name="avatarFile"
                   class="form-control"
                   accept="image/*" 
                   />
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
        <a type="button" class="btn btn-danger" asp-controller="AdminHome" asp-action="Index">Quay lại</a>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">@ViewBag.Message</div>
        }
    </form>

</div>


@section Scripts {
<script>
    // Hiển thị ảnh mới ngay khi chọn
    document.getElementById('avatarFile').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const imageUrl = URL.createObjectURL(file);
            document.getElementById('previewImage').src = imageUrl;
        }
    });
</script>
}
