<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="expanded-account" data-model-id="2235:3801">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="menu">
            <div class="navigation-elements">
              <div class="overlap-group">
                <div class="rectangle"></div>
                <img class="icon-action" src="img/dashboard.svg" />
                <div class="text-wrapper">Dashboard</div>
              </div>
            </div>
            <div class="div">
              <img class="icon-social-people" src="img/people.svg" />
              <div class="text-wrapper-2">People</div>
            </div>
            <div class="navigation-elements-2">
              <img class="img" src="img/assignment.svg" />
              <div class="text-wrapper-3">Projects</div>
            </div>
            <div class="navigation-elements-3">
              <div class="text-wrapper-4">Calendar</div>
              <img class="img" src="img/ionicons-svg-md-calendar.svg" />
            </div>
            <div class="navigation-elements-4">
              <img class="img" src="img/ionicons-svg-md-easel.svg" />
              <div class="text-wrapper-3">Training</div>
            </div>
            <div class="navigation-elements-5">
              <div class="icon-social-people-2"></div>
              <div class="text-wrapper-3">Timesheet</div>
            </div>
            <div class="navigation-elements-6">
              <div class="icon-social-people-3"></div>
              <div class="text-wrapper-3">Reports</div>
            </div>
            <div class="navigation-elements-7">
              <div class="icon-social-people-4"></div>
              <div class="text-wrapper-3">Administration</div>
            </div>
            <div class="navigation-elements-8">
              <div class="img"><img class="ionicons-svg-md-help" src="img/ionicons-svg-md-help.svg" /></div>
              <div class="text-wrapper-3">Help</div>
            </div>
          </div>
          <div class="button-with-icon">
            <div class="overlap-2">
              <img class="add" src="img/add.png" />
              <div class="text-wrapper-5">Add widget</div>
            </div>
          </div>
          <img class="widget" src="img/widget-1.png" />
          <img class="widget-2" src="img/widget-2.png" />
          <div class="overlap-group-wrapper">
            <div class="overlap-3">
              <div class="text-wrapper-6">Assigned Risks</div>
              <p class="p">There are no risks assigned.</p>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-3">
              <div class="text-wrapper-6">Assigned Action Items</div>
              <p class="text-wrapper-7">There are no action items assigned.</p>
            </div>
          </div>
          <div class="credits">
            <div class="overlap-4">
              <div class="text-wrapper-8">CAMIOCA</div>
              <div class="text-wrapper-9">Version: 1.0.0.11</div>
            </div>
          </div>
          <div class="overlay"></div>
          <div class="group">
            <div class="overlap-5">
              <div class="background"></div>
              <div class="navigation-elements-9">
                <img class="img" src="img/baseline-account-circle-24px.svg" />
                <div class="text-wrapper-10">My details</div>
              </div>
              <div class="navigation-elements-10">
                <img class="img" src="img/image.svg" />
                <div class="text-wrapper-10">My calendar</div>
              </div>
              <div class="navigation-elements-11">
                <img class="img" src="img/baseline-beach-access-24px.svg" />
                <div class="text-wrapper-10">Vacations</div>
              </div>
              <div class="navigation-elements-12">
                <img class="img" src="img/ionicons-svg-md-document.svg" />
                <div class="text-wrapper-10">Corporate CV</div>
              </div>
              <div class="navigation-elements-13">
                <img class="ionicons-svg-md" src="img/ionicons-svg-md-rocket.svg" />
                <div class="text-wrapper-11">Perfomance review</div>
              </div>
            </div>
          </div>
          <header class="header">
            <div class="overlap-6">
              <div class="search">
                <input class="quick-search" placeholder="Quick search" type="text" />
                <img class="icon-other-search" src="img/search.svg" />
              </div>
              <div class="icon-social">
                <div class="overlap-group-2">
                  <img class="vector" src="img/vector.svg" />
                  <div class="ellipse"></div>
                </div>
              </div>
            </div>
            <div class="overlap-7">
              <img class="avatar-man" src="img/15.svg" />
              <img class="icon-navigation" src="img/arrow-drop-down.svg" />
              <div class="text-wrapper-12">Dominique Ch.</div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </body>
</html>