@model HomeStay_MVC.Models.UserInfor

@{
    Layout = "_Layout";
    ViewData["Title"] = "Đổi ảnh đại diện";
}
<h2 class="text-center mt-4">Đổi ảnh đại diện</h2>
<div style="margin-left:100px;">
    <div class="form-group">
        <img id ="img" style="max-width: 150px">
        <input type="file" onchange="img.src = window.URL.createObjectURL(this.file[0])" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input id="Email" type="email" class="form-control" value="@Model.Email" readonly />
    </div>
    <div class="form-group">
        <label for="PHONE">Số điện thoại</label>
        <input id="PHONE" type="text" class="form-control" value="@Model.PHONE" readonly />
    </div>
    <div class="form-group">
        <label for="CARD_NUMBER">CCCD</label>
        <input id="CARD_NUMBER" type="text" class="form-control" value="@Model.CARD_NUMBER" readonly />
    </div>

    <form asp-action="updateAvatar" asp-controller="Users" method="post">
        <p style="text-align:right; margin-right:20px;">
            <button type="submit" class="btn btn-success">Chỉnh sửa thông tin</button>
        </p>
    </form>
</div>

