@model HomeStay_MVC.Models.HomestaysObj

@{
    Layout = "_Layout";
    ViewData["Title"] = "Xóa cơ sở";
}
<h2 class="text-center mt-4">Xóa cơ sở</h2>
<div style="margin-left:50px; margin-top: 50px;">
    @using (Html.BeginForm("Delete", "HomeStay", new { id = Model.id }, FormMethod.Post))
    {
        <div style="display: flex; flex-direction:row;">
            <div style="flex:1;margin-left: 30px;margin-right: 30px;">
                <div class="form-group">
                    <label for="Save_Code">Mã Pin</label>
                    @Html.PasswordFor(m => m.Save_code, new { @class = "form-control", @id = "Save_Code", @required = "required" })
                </div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger">@ViewBag.Message</div>
                }

                <p style="text-align:right; margin-right:40px; margin-top: 50px">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa cơ sở này?')">Xác nhận</button>
                    <a href="@Url.Action("Index", "HomeStay")" class="btn btn-success">Quay lại</a>
                </p>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["Success"] != null)
        {
            <text>
                            Swal.fire('Thành công', '@TempData["Success"]', 'success');
            </text>
        }
    </script>
}